# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Functions
functions/node_modules/
functions/.env

# Secrets (절대 올리면 안됨)
.env
*.env.local
service-account*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/